.bg-gray {
    background-color: rgb(145, 145, 145);
}

.bold-text {
    font-weight: bold;
}

/* .center-text {
    text-align: center;
} */

.hid-button {
    color: black !important;
    cursor: auto !important;
}