.top-title{
    padding-top:1em;
}

/* .vehicle-variant {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-break-inside: avoid;
    list-style-position: inside; 
} */

.vehicle-variant ul, .vehicle-variant li:nth-child(5){
    /* page-break-inside: avoid;
    break-inside: avoid; 
    display:inline-block;*/
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    /* clear: both; */
}

.flex-item {
    flex-grow: 1;
    flex: 1 1 0px;
}