.nav-tabs > li {
  float: none;
  display: inline-block;
  zoom: 1;
}

.nav-tabs {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: larger;
  border-color: #47b4fd !important;
}

.nav-link {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 10px;
}

.container {
  padding-right: 3%;
  padding-left: 3%;
}

.notchosenTabs {
  background: rgb(223, 221, 221);
  border-bottom-color: #0a9cfb !important;
}

.chosenTabs {
  background: white;
  font-weight: bold;
  color: #0a9cfb !important;
  border-bottom-color: white !important;
  border-bottom-style: solid;
  border-top-color: #0a9cfb !important;
  border-top-style: ridge;
  border-left-color: #0a9cfb !important;
  border-left-style: ridge;
  border-right-color: #0a9cfb !important;
  border-right-style: ridge;
}

.buttonatbottom {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fixbar {
  text-align: center;
  font-size: x-large;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

.customCollapsible {
  color: #314959;
  margin: 40px 0 40px;
  font-size: 2.6rem;
  font-weight: 600;
  font-family: WhitneyBook, Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.customHeader {
  color: #314959;
  margin: 40px 0 40px;
  font-size: 2.6rem;
  font-weight: 600;
  font-family: WhitneyBook, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.form-group {
  margin-bottom: 3rem;
}

.ApplyNonScrollable {
  overflow: hidden;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}