datalist {
    padding: 0;
    position: absolute;
    background: white;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    list-style: none;
    z-index: 9999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow: scroll;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  option {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 22px;
    color: #001c2d;
    padding: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  datalist option:first-child {
    border-top: none;
  }
  
  /* enable absolute positioning */
  .inner-addon {
    position: relative;
  }
  
  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align icon */
  .left-addon .glyphicon {
    left: 0px;
  }
  .right-addon .glyphicon {
    right: 0px;
  }
  
  /* add padding  */
  .left-addon input {
    padding-left: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }