.container
{
    /*padding: 0 15px 0 15px;*/
}

.page-title
{
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Gotham';
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(to right, #0A9CFB 0,#00619E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-subtitle
{
    font-family: 'Whitney';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color:#001C2D;
    /* padding-left: 45px; */
    /* padding-right: 40px; */
}

.input-label
{
    font-family: Whitney;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #A8AAB7;
}

.labelFocusOn
{
    color: #0A9CFB;
}

.labelFocusOnError
{
    color: #F85359;
}

.input-element 
{
    padding: 15px 15px 15px;
    background: #FFFFFF;
    border: 1px solid #E2E7EE;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-readonly
{
    background-color: #F2F4F7 !important;
    border: none !important;
    box-shadow: none !important;
}

.focusOn
{
    border: 2px solid #0A9CFB !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
}

.focusOnError
{
    border: 2px solid #F85359;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-element-verify
{
    padding: 25px 0 25px 0;
    text-align: center;
}

.input-message
{
    font-family: Whitney;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.help-text
{
    font-family: 'Whitney';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #314959;
    padding: 20px 0 15px;
}

.button-element
{
    font-family: Whitney SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: #00619E;
    border-radius: 8px;
    height: 54px;
    padding-bottom: 0;
}

.decline-button-element
{
    font-family: Whitney SemiBold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #00619E;
    border-radius: 8px;
    border-color: #00619E;
    height: 54px;
    padding-bottom: 0;
}

.field-icon 
{
    margin-left: -30px;
}

.success-icon
{
    --sds-c-icon-color-foreground-default: #39B54A; 
    --sds-c-icon-color-foreground: #39B54A;
}

.warning-text
{
    font-family    : 'Whitney';
    font-size      : 18px;
    line-height    : 22px;
    color          : #001C2D;
    /* padding-bottom : 15px; */
}

.warning-text-bold
{
    font-family    : 'Whitney SemiBold';
    font-size      : 18px;
    line-height    : 22px;
    color          : #001C2D;
    padding-bottom : 15px;
}

.deletion-date-text
{
    font-weight: bold;
}

.modal-title
{
    font-family: 'Whitney';
    font-size: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #001C2D;
}

@media only screen and (min-width: 768px) 
{
    .pdpa-consent
    {
        width: 95% !important;
    }
}

@media only screen and (max-width: 375px) 
{
}

.input-container
{
    padding-top: 5px;
}

/* @media only screen and (max-width: 480px) 
{ */
/* } */
@supports (-webkit-touch-callout: none) 
{
    /* CSS specific to iOS devices */ 
    .input-container
    {
        margin-left: -8px !important;
    }   
}

@supports not (-webkit-touch-callout: none)
{
    /* CSS for other than iOS devices */ 
    .input-container
    {
        margin-left: -2px !important;
    }  
}

.pdpa-checkbox
{
    border: 2px solid #A8AAB7;
    box-sizing: border-box;
    border-radius: 2px;
    height:24px;
    width:24px;
}

.slds-checkbox-button_is-checked
{
    border: 1px solid #0A9CFB !important;
    background-color: #0A9CFB;
}