.additionalModalCSS {
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bug-around {
  cursor: pointer;
  /* animation: spin 2s linear infinite; */
  /* animation: .5s linear 1s infinite alternate bounce; */
}