.addnlNoteClass {
    background-color: #516073;
    padding: 15px;
    margin-bottom: 16px;
    width: 100%;
}

.noteClass {
    color: #fff;
    font-size: large;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 55px;
    margin-top: 15px;
    padding: 0;
    line-height: 1.2;
}

.wordClass {
    font-size: large !important;
}