.tag-infor__label{
    /* width:20%; */
    font-weight: 500;
    padding-top: 1.5rem;
}

.tag-infor__value{
    /* width:30%; */
    height: 2rem;
    padding-top: 1.5rem;
    padding-left: 12px;
}

.tag-infor__detail{
    padding-left: 1rem;
}

.tag-infor__input{
    /* width:300px; */
    width:30%;
    height: 2rem;
}

.tag-header{
    background-color: silver; 
    /* border:black 1px solid;  */
    /* border-radius: 0.2rem; */
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    font-weight: 600;
    /* margin-top: 1rem; */
}

.tag-header-table{
    background-color: #E3E1E0;
    /* color:white; */
    box-sizing: border-box;
}

.tool-id:hover {
    /* color:rgb(171, 188, 189); */
    cursor: pointer;
    /* font-weight:600; */
    color: blue;
}

.tool-id {
    text-decoration: underline;
}

.tag-box{
    /* border:silver 1px solid;  */
    border-radius: 0.2rem;

    box-shadow: 1px 1px 2px 1px rgba(92, 65, 65, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 24px;
}

.tag-box-wrapper{
    margin-top: 1rem;
}