/*style*/
input[type=date]{
    color : #000;
    padding-bottom: 16px;
}
.focusOn{
    color: rgb(10, 156, 251);
}
.focusOff{
    color: #516173;
}

/* input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  } */