@import 'c/ccl_style';

.resend-code a{
    color: #d2a269 !important;
    text-decoration: underline #d2a269 !important;
}
.cus-info-select {
    /* font-family: "Alegreya Sans"; */
    background-color: #F7F6F3 !important;
    padding: 0;
    border-color: #F7F6F3 !important;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    border-radius: 0 !important;
}
.cus-info-text {
    /* font-family: "Alegreya Sans"; */
    background-color: #F7F6F3 !important;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    border-radius: 0 !important;
    line-height: 2.3 !important;
    width: 100%;
}
 .helptext{ 
    position: absolute;
    top: 0rem;
}

.success-icon {
    --sds-c-icon-color-background-default: #d2a269; 
    --sds-c-icon-color-background: #d2a269;
}

.subtitle{
    font-family: 'AlegreyaSans Bold';
}