.THIS .float-right {
    float: right;
}

.THIS .slds-form-element {
    margin-top: -1em;
}

.THIS .slds-file-selector__text {
    display: none;
}

.THIS .slds-file-selector__button {
    padding-left: 2em;
    padding-right: 2em;
}

.THIS .slds-file-selector__button:hover {
    cursor: pointer;
}